.workout-activity-container {
  display: grid;
  row-gap: 1rem;
  width: 85%;
  height: 100%;
  border-radius: 2rem;
  background-color: var(--secondary);
  position: absolute;
  top: 105%;
  transition: all 0.3s;
}
.workout-activity-table-container {
  background-color: var(--secondary);
  height: 90%;
  width: 90%;
  border-radius: 1rem;
}
.workout-activity-table {
  height: 20%;
  width: 100%;
  /* table-layout: auto; */
  border-spacing: 0;
  border-collapse: collapse;
}
.activity-table > tbody > tr > td {
  text-align: center;
  padding: 0;
  box-sizing: border-box;
  height: 0.5rem;
  /* vertical-align: middle; */
}
.activity-table > thead {
  font-size: 1.5rem;
}
.activity-table-body-element > svg {
  width: 2rem;
  height: 2rem;
}
.activity-square {
  color: rgb(213, 218, 218);
}
.workout-sessions-container {
  display: flex;
  gap: 2rem;
}
.workout-session-container {
  width: 30rem;
  height: 40rem;
  border-radius: 2rem;
  background-color: antiquewhite;
  font-size: 2rem;
}
