.workout-detail-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.workout-detail-name {
  font-size: 3rem;
  margin-bottom: 10rem;
}
.workout-details {
  display: flex;
  font-size: 1.8rem;
}
.workout-detail-element {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 3rem;
  border-radius: 2rem;
  text-decoration: none;
  color: black;
  width: 90%;
  height: 10rem;
  background-color: antiquewhite;
}
