.friends-container {
  display: grid;
  row-gap: 1rem;
  width: 85%;
  height: 100%;
  border-radius: 2rem;
  grid-template-columns: 0.3fr 1fr;
  background-color: var(--secondary);
  position: absolute;
  top: 200%;
  transition: all 0.3s;
  overflow: hidden;
}
.friend-list-container {
  background-color: var(--secondary);
}
.chat-container {
  display: grid;
  grid-template-rows: 90% 10%;
  background-color: var(--third);
}
.friend-list-header {
  background-color: var(--primary);
  height: 10%;
}
.friend-list-header > h1 {
  margin: 0;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
}
.friend-list-friends {
}
.friend-container {
  display: flex;
  align-items: center;
  height: 8rem;
  width: 100%;
  background-color: aqua;
  gap: 1rem;
  padding: 1rem;
}
.friend-photo {
  height: 100%;
  border-radius: 999rem;
}
.friend-chat-info {
  font-size: 1rem;
}
.friend-chat-info > h2 {
  margin: 0;
}
.friend-last-message {
  margin: 0;
}
.chat-history {
  width: 100%;
  height: 90%;
}
.chat-message {
  background-color: antiquewhite;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.chat-message-input {
  width: 80%;
  height: 40%;
  border-radius: 2rem;
}
