/* .nav-animation {
  animation: moveNav 0.3s ease-in-out forwards;
} */
:root {
  --prevPos: 0px;
  --currPos: 0px;
}
.header-container {
  display: flex;

  justify-content: flex-end;
  /* padding: 0 4rem; */
  width: 100vw;
  height: 100vh;
  background-color: var(--primary);
  z-index: 1;
}
.navigation-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 6vw;

  align-content: center;
  justify-content: center;
  /* justify-items: center; */
  font-size: 2rem;
  flex-wrap: wrap;
  flex: 1px 80px 1px;
  z-index: 3;
  gap: 1rem;
}

.navigation-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2.4rem;
  text-decoration: none;
  color: black;
  font-size: 2rem;
  height: 6rem;
  width: 6rem;
  background-color: rgb(255, 255, 255);
}
.navigation-button:first-child {
  margin-top: 3rem;
  margin-bottom: auto;
}
.navigation-button:last-child {
  margin-bottom: 3rem;
}
.navigation-button:nth-last-child(3) {
  margin-top: auto;
}
.navigation-button:hover {
  box-shadow: inset 4px 5px 29px -10px rgba(83, 88, 97, 1);
}
.shadow {
  box-shadow: inset 4px 5px 29px -10px rgba(83, 88, 97, 1);
}
@keyframes moveLine {
  0% {
    top: var(--prev-top);
    width: 2px;
    height: 5px;
  }
  50% {
    width: 20px;
    height: 40px;
  }
  100% {
    top: var(--curr-top);
    width: 2px;
    height: 5px;
  }
}

/* Line styles */
#line {
  position: absolute;
  left: 55px;
  height: 2px;
  background-color: #1a1b1b;
  z-index: 1;
}
