.friends-container {
  display: grid;
  row-gap: 1rem;
  width: 85%;
  height: 100%;
  border-radius: 2rem;
  grid-template-columns: 0.3fr 1fr;
  background-color: var(--secondary);
  position: absolute;
  transition: all 0.3s;
  overflow: hidden;
}
.friend-list-container {
  background-color: var(--secondary);
}
.friend-list-navigation {
  background-color: var(--primary);
  height: 10%;
}
.friend-list-header {
  display: flex;
  font-size: 1rem;
  background-color: var(--primary);
  height: 80%;
  padding: 0;
}
.friend-list-header > h1 {
  margin: 0;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.4rem;
}
.friend-list-friends {
  position: relative;
  width: 100%;
}
.friend-container {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 8rem;
  width: 100%;
  background-color: aqua;
  gap: 1rem;
}
.friend-photo {
  height: 7rem;
  border-radius: 999rem;
}
.friend-chat-info {
  font-size: 1rem;
}
.friend-chat-info > h2 {
  margin: 0;
}
.friend-last-message {
  margin: 0;
}
.link {
  text-decoration: none;
  color: black;
}
